{% extends 'base.html.twig' %}

{% block title %}New Funding{% endblock %}

{% block body %}
    <h1>Create new Funding</h1>

    {{ include('OfferFunding/_form.html.twig') }}

    <a href="{{ path('app_Offerfunding_index') }}">back to list</a>
{% endblock %}
